@import "tailwindcss";

:root {
	--md-sys-typescale-display-medium-font: Poppins, sans-serif;
	--md-sys-typescale-display-medium-size: 15rem;
	--md-sys-typescale-display-medium-line-height: 17.333333333333332rem;
	--md-sys-typescale-display-medium-weight: 700;

	--md-sys-typescale-headline-medium-font: Poppins, sans-serif;
	--md-sys-typescale-headline-medium-size: 9.333333333333334rem;
	--md-sys-typescale-headline-medium-line-height: 12rem;
	--md-sys-typescale-headline-medium-weight: 500;

	--md-sys-typescale-title-medium-font: Poppins, sans-serif;
	--md-sys-typescale-title-medium-size: 5.333333333333333rem;
	--md-sys-typescale-title-medium-line-height: 8rem;
	--md-sys-typescale-title-medium-weight: 500;

	--md-sys-typescale-body-medium-font: Poppins, sans-serif;
	--md-sys-typescale-body-medium-size: 4.666666666666667rem;
	--md-sys-typescale-body-medium-line-height: 6.666666666666667rem;
	--md-sys-typescale-body-medium-weight: 400;

	--md-sys-typescale-label-medium-font: Poppins, sans-serif;
	--md-sys-typescale-label-medium-size: 4rem;
	--md-sys-typescale-label-medium-line-height: 5.333333333333333rem;
	--md-sys-typescale-label-medium-weight: 500;

	--md-sys-color-primary: rgb(68, 97, 122);
	--md-sys-color-surface-tint: rgb(68 97 122);
	--md-sys-color-on-primary: rgb(255, 255, 255);
	--md-sys-color-primary-container: rgb(168, 198, 226);
	--md-sys-color-on-primary-container: rgb(22, 54, 77);
	--md-sys-color-secondary: rgb(85, 96, 106);
	--md-sys-color-on-secondary: rgb(255, 255, 255);
	--md-sys-color-secondary-container: rgb(218, 229, 242);
	--md-sys-color-on-secondary-container: rgb(63, 74, 84);
	--md-sys-color-tertiary: rgb(112, 85, 118);
	--md-sys-color-on-tertiary: rgb(255, 255, 255);
	--md-sys-color-tertiary-container: rgb(216, 183, 221);
	--md-sys-color-on-tertiary-container: rgb(66, 42, 72);
	--md-sys-color-error: rgb(186, 26, 26);
	--md-sys-color-on-error: rgb(255, 255, 255);
	--md-sys-color-error-container: rgb(255, 218, 214);
	--md-sys-color-on-error-container: rgb(65, 0, 2);
	--md-sys-color-background: rgb(250, 249, 251);
	--md-sys-color-on-background: rgb(26, 28, 29);
	--md-sys-color-surface: rgb(250, 249, 251);
	--md-sys-color-on-surface: rgb(26, 28, 29);
	--md-sys-color-surface-variant: rgb(223, 227, 233);
	--md-sys-color-on-surface-variant: rgb(66, 71, 77);
	--md-sys-color-outline: rgb(115, 119, 125);
	--md-sys-color-outline-variant: rgb(195, 199, 205);
	--md-sys-color-shadow: rgb(0, 0, 0);
	--md-sys-color-scrim: rgb(0, 0, 0);
	--md-sys-color-inverse-surface: rgb(47, 48, 50);
	--md-sys-color-inverse-on-surface: rgb(241, 240, 242);
	--md-sys-color-inverse-primary: rgb(172, 202, 230);
	--md-sys-color-primary-fixed: rgb(204, 229, 255);
	--md-sys-color-on-primary-fixed: rgb(0, 30, 49);
	--md-sys-color-primary-fixed-dim: rgb(172, 202, 230);
	--md-sys-color-on-primary-fixed-variant: rgb(44, 74, 97);
	--md-sys-color-secondary-fixed: rgb(217, 228, 240);
	--md-sys-color-on-secondary-fixed: rgb(18, 29, 38);
	--md-sys-color-secondary-fixed-dim: rgb(189, 200, 212);
	--md-sys-color-on-secondary-fixed-variant: rgb(61, 72, 82);
	--md-sys-color-tertiary-fixed: rgb(250, 216, 254);
	--md-sys-color-on-tertiary-fixed: rgb(40, 19, 47);
	--md-sys-color-tertiary-fixed-dim: rgb(221, 188, 225);
	--md-sys-color-on-tertiary-fixed-variant: rgb(87, 62, 93);
	--md-sys-color-surface-dim: rgb(218, 218, 220);
	--md-sys-color-surface-bright: rgb(250, 249, 251);
	--md-sys-color-surface-container-lowest: rgb(255, 255, 255);
	--md-sys-color-surface-container-low: rgb(244, 243, 245);
	--md-sys-color-surface-container: rgb(238, 237, 239);
	--md-sys-color-surface-container-high: rgb(233, 232, 234);
	--md-sys-color-surface-container-highest: rgb(227, 226, 228);
	--m3-elevation-1-box-shadow: 0rem 0.25rem 0.75rem 0.25rem rgba(0, 0, 0, 0.15),
		0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
	--m3-elevation-2-box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.15),
		0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
	--m3-elevation-3-box-shadow: 0rem 0.25rem 0.75rem 0rem rgba(0, 0, 0, 0.3), 0rem 1rem 2rem 0.75rem rgba(0, 0, 0, 0.15);
	--m3-elevation-4-box-shadow: 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.3), 0rem 1.5rem 2.5rem 1rem rgba(0, 0, 0, 0.15);
	--m3-elevation-5-box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.3), 0rem 2rem 3rem 1.5rem rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
	--md-sys-color-primary: rgb(194, 224, 253);
	--md-sys-color-surface-tint: rgb(172, 202, 230);
	--md-sys-color-on-primary: rgb(19, 51, 74);
	--md-sys-color-primary-container: rgb(153, 182, 210);
	--md-sys-color-on-primary-container: rgb(7, 42, 64);
	--md-sys-color-secondary: rgb(189, 200, 212);
	--md-sys-color-on-secondary: rgb(39, 50, 59);
	--md-sys-color-secondary-container: rgb(54, 64, 74);
	--md-sys-color-on-secondary-container: rgb(202, 213, 226);
	--md-sys-color-tertiary: rgb(244, 210, 249);
	--md-sys-color-on-tertiary: rgb(63, 40, 69);
	--md-sys-color-tertiary-container: rgb(201, 169, 206);
	--md-sys-color-on-tertiary-container: rgb(54, 31, 60);
	--md-sys-color-error: rgb(255, 180, 171);
	--md-sys-color-on-error: rgb(105, 0, 5);
	--md-sys-color-error-container: rgb(147, 0, 10);
	--md-sys-color-on-error-container: rgb(255, 218, 214);
	--md-sys-color-background: rgb(18, 19, 21);
	--md-sys-color-on-background: rgb(227, 226, 228);
	--md-sys-color-surface: rgb(18, 19, 21);
	--md-sys-color-on-surface: rgb(227, 226, 228);
	--md-sys-color-surface-variant: rgb(66, 71, 77);
	--md-sys-color-on-surface-variant: rgb(195, 199, 205);
	--md-sys-color-outline: rgb(140, 145, 151);
	--md-sys-color-outline-variant: rgb(66, 71, 77);
	--md-sys-color-shadow: rgb(0, 0, 0);
	--md-sys-color-scrim: rgb(0, 0, 0);
	--md-sys-color-inverse-surface: rgb(227, 226, 228);
	--md-sys-color-inverse-on-surface: rgb(47, 48, 50);
	--md-sys-color-inverse-primary: rgb(68, 97, 122);
	--md-sys-color-primary-fixed: rgb(204, 229, 255);
	--md-sys-color-on-primary-fixed: rgb(0, 30, 49);
	--md-sys-color-primary-fixed-dim: rgb(172, 202, 230);
	--md-sys-color-on-primary-fixed-variant: rgb(44, 74, 97);
	--md-sys-color-secondary-fixed: rgb(217, 228, 240);
	--md-sys-color-on-secondary-fixed: rgb(18, 29, 38);
	--md-sys-color-secondary-fixed-dim: rgb(189, 200, 212);
	--md-sys-color-on-secondary-fixed-variant: rgb(61, 72, 82);
	--md-sys-color-tertiary-fixed: rgb(250, 216, 254);
	--md-sys-color-on-tertiary-fixed: rgb(40, 19, 47);
	--md-sys-color-tertiary-fixed-dim: rgb(221, 188, 225);
	--md-sys-color-on-tertiary-fixed-variant: rgb(87, 62, 93);
	--md-sys-color-surface-dim: rgb(18, 19, 21);
	--md-sys-color-surface-bright: rgb(56, 57, 59);
	--md-sys-color-surface-container-lowest: rgb(13, 14, 16);
	--md-sys-color-surface-container-low: rgb(26, 28, 29);
	--md-sys-color-surface-container: rgb(30, 32, 33);
	--md-sys-color-surface-container-high: rgb(41, 42, 44);
	--md-sys-color-surface-container-highest: rgb(52, 53, 55);
	--m3-elevation-1-box-shadow: 0rem 0.25rem 0.75rem 0.25rem rgba(0, 0, 0, 0.15),
		0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
	--m3-elevation-2-box-shadow: 0rem 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.15),
		0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
	--m3-elevation-3-box-shadow: 0rem 0.25rem 0.75rem 0rem rgba(0, 0, 0, 0.3), 0rem 1rem 2rem 0.75rem rgba(0, 0, 0, 0.15);
	--m3-elevation-4-box-shadow: 0rem 0.5rem 0.75rem 0rem rgba(0, 0, 0, 0.3), 0rem 1.5rem 2.5rem 1rem rgba(0, 0, 0, 0.15);
	--m3-elevation-5-box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.3), 0rem 2rem 3rem 1.5rem rgba(0, 0, 0, 0.15);
}

[data-theme="light"] .theme-Bioquímica {
	--md-sys-color-primary: rgb(55 105 61);
	--md-sys-color-surface-tint: rgb(55 105 61);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(184 240 184);
	--md-sys-color-on-primary-container: rgb(30 80 39);
	--md-sys-color-secondary: rgb(81 99 80);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(212 232 208);
	--md-sys-color-on-secondary-container: rgb(58 75 58);
	--md-sys-color-tertiary: rgb(57 101 108);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(189 234 242);
	--md-sys-color-on-tertiary-container: rgb(31 77 84);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(247 251 242);
	--md-sys-color-on-background: rgb(24 29 24);
	--md-sys-color-surface: rgb(247 251 242);
	--md-sys-color-on-surface: rgb(24 29 24);
	--md-sys-color-surface-variant: rgb(222 229 217);
	--md-sys-color-on-surface-variant: rgb(66 73 64);
	--md-sys-color-outline: rgb(114 121 112);
	--md-sys-color-outline-variant: rgb(193 201 190);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(45 50 44);
	--md-sys-color-inverse-on-surface: rgb(238 242 233);
	--md-sys-color-inverse-primary: rgb(157 212 158);
	--md-sys-color-primary-fixed: rgb(184 240 184);
	--md-sys-color-on-primary-fixed: rgb(0 33 7);
	--md-sys-color-primary-fixed-dim: rgb(157 212 158);
	--md-sys-color-on-primary-fixed-variant: rgb(30 80 39);
	--md-sys-color-secondary-fixed: rgb(212 232 208);
	--md-sys-color-on-secondary-fixed: rgb(15 31 17);
	--md-sys-color-secondary-fixed-dim: rgb(184 204 181);
	--md-sys-color-on-secondary-fixed-variant: rgb(58 75 58);
	--md-sys-color-tertiary-fixed: rgb(189 234 242);
	--md-sys-color-on-tertiary-fixed: rgb(0 31 36);
	--md-sys-color-tertiary-fixed-dim: rgb(161 206 214);
	--md-sys-color-on-tertiary-fixed-variant: rgb(31 77 84);
	--md-sys-color-surface-dim: rgb(215 219 211);
	--md-sys-color-surface-bright: rgb(247 251 242);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(241 245 236);
	--md-sys-color-surface-container: rgb(235 239 230);
	--md-sys-color-surface-container-high: rgb(229 233 225);
	--md-sys-color-surface-container-highest: rgb(224 228 219);
}

[data-theme="dark"] .theme-Bioquímica {
	--md-sys-color-primary: rgb(157 212 158);
	--md-sys-color-surface-tint: rgb(157 212 158);
	--md-sys-color-on-primary: rgb(2 57 19);
	--md-sys-color-primary-container: rgb(30 80 39);
	--md-sys-color-on-primary-container: rgb(184 240 184);
	--md-sys-color-secondary: rgb(184 204 181);
	--md-sys-color-on-secondary: rgb(36 52 36);
	--md-sys-color-secondary-container: rgb(58 75 58);
	--md-sys-color-on-secondary-container: rgb(212 232 208);
	--md-sys-color-tertiary: rgb(161 206 214);
	--md-sys-color-on-tertiary: rgb(0 54 61);
	--md-sys-color-tertiary-container: rgb(31 77 84);
	--md-sys-color-on-tertiary-container: rgb(189 234 242);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(16 21 16);
	--md-sys-color-on-background: rgb(224 228 219);
	--md-sys-color-surface: rgb(16 21 16);
	--md-sys-color-on-surface: rgb(224 228 219);
	--md-sys-color-surface-variant: rgb(66 73 64);
	--md-sys-color-on-surface-variant: rgb(193 201 190);
	--md-sys-color-outline: rgb(140 147 137);
	--md-sys-color-outline-variant: rgb(66 73 64);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(224 228 219);
	--md-sys-color-inverse-on-surface: rgb(45 50 44);
	--md-sys-color-inverse-primary: rgb(55 105 61);
	--md-sys-color-primary-fixed: rgb(184 240 184);
	--md-sys-color-on-primary-fixed: rgb(0 33 7);
	--md-sys-color-primary-fixed-dim: rgb(157 212 158);
	--md-sys-color-on-primary-fixed-variant: rgb(30 80 39);
	--md-sys-color-secondary-fixed: rgb(212 232 208);
	--md-sys-color-on-secondary-fixed: rgb(15 31 17);
	--md-sys-color-secondary-fixed-dim: rgb(184 204 181);
	--md-sys-color-on-secondary-fixed-variant: rgb(58 75 58);
	--md-sys-color-tertiary-fixed: rgb(189 234 242);
	--md-sys-color-on-tertiary-fixed: rgb(0 31 36);
	--md-sys-color-tertiary-fixed-dim: rgb(161 206 214);
	--md-sys-color-on-tertiary-fixed-variant: rgb(31 77 84);
	--md-sys-color-surface-dim: rgb(16 21 16);
	--md-sys-color-surface-bright: rgb(54 58 53);
	--md-sys-color-surface-container-lowest: rgb(11 15 11);
	--md-sys-color-surface-container-low: rgb(24 29 24);
	--md-sys-color-surface-container: rgb(28 33 28);
	--md-sys-color-surface-container-high: rgb(39 43 38);
	--md-sys-color-surface-container-highest: rgb(49 54 48);
}

[data-theme="light"] .theme-Ingeniería-en-Agrimensura {
	--md-sys-color-primary: rgb(140 79 39);
	--md-sys-color-surface-tint: rgb(140 79 39);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(255 219 200);
	--md-sys-color-on-primary-container: rgb(111 56 17);
	--md-sys-color-secondary: rgb(118 88 71);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(255 219 200);
	--md-sys-color-on-secondary-container: rgb(92 65 49);
	--md-sys-color-tertiary: rgb(98 96 51);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(232 229 172);
	--md-sys-color-on-tertiary-container: rgb(74 73 30);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(255 248 245);
	--md-sys-color-on-background: rgb(34 26 21);
	--md-sys-color-surface: rgb(255 248 245);
	--md-sys-color-on-surface: rgb(34 26 21);
	--md-sys-color-surface-variant: rgb(244 222 211);
	--md-sys-color-on-surface-variant: rgb(82 68 60);
	--md-sys-color-outline: rgb(133 116 107);
	--md-sys-color-outline-variant: rgb(215 194 184);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(56 46 41);
	--md-sys-color-inverse-on-surface: rgb(255 237 229);
	--md-sys-color-inverse-primary: rgb(255 182 139);
	--md-sys-color-primary-fixed: rgb(255 219 200);
	--md-sys-color-on-primary-fixed: rgb(50 18 0);
	--md-sys-color-primary-fixed-dim: rgb(255 182 139);
	--md-sys-color-on-primary-fixed-variant: rgb(111 56 17);
	--md-sys-color-secondary-fixed: rgb(255 219 200);
	--md-sys-color-on-secondary-fixed: rgb(43 22 9);
	--md-sys-color-secondary-fixed-dim: rgb(229 191 170);
	--md-sys-color-on-secondary-fixed-variant: rgb(92 65 49);
	--md-sys-color-tertiary-fixed: rgb(232 229 172);
	--md-sys-color-on-tertiary-fixed: rgb(29 29 0);
	--md-sys-color-tertiary-fixed-dim: rgb(204 201 146);
	--md-sys-color-on-tertiary-fixed-variant: rgb(74 73 30);
	--md-sys-color-surface-dim: rgb(231 215 207);
	--md-sys-color-surface-bright: rgb(255 248 245);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(255 241 234);
	--md-sys-color-surface-container: rgb(252 234 226);
	--md-sys-color-surface-container-high: rgb(246 229 221);
	--md-sys-color-surface-container-highest: rgb(240 223 215);
}

[data-theme="dark"] .theme-Ingeniería-en-Agrimensura {
	--md-sys-color-primary: rgb(255 182 139);
	--md-sys-color-surface-tint: rgb(255 182 139);
	--md-sys-color-on-primary: rgb(82 35 0);
	--md-sys-color-primary-container: rgb(111 56 17);
	--md-sys-color-on-primary-container: rgb(255 219 200);
	--md-sys-color-secondary: rgb(229 191 170);
	--md-sys-color-on-secondary: rgb(67 43 28);
	--md-sys-color-secondary-container: rgb(92 65 49);
	--md-sys-color-on-secondary-container: rgb(255 219 200);
	--md-sys-color-tertiary: rgb(204 201 146);
	--md-sys-color-on-tertiary: rgb(51 50 9);
	--md-sys-color-tertiary-container: rgb(74 73 30);
	--md-sys-color-on-tertiary-container: rgb(232 229 172);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(26 18 13);
	--md-sys-color-on-background: rgb(240 223 215);
	--md-sys-color-surface: rgb(26 18 13);
	--md-sys-color-on-surface: rgb(240 223 215);
	--md-sys-color-surface-variant: rgb(82 68 60);
	--md-sys-color-on-surface-variant: rgb(215 194 184);
	--md-sys-color-outline: rgb(159 141 132);
	--md-sys-color-outline-variant: rgb(82 68 60);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(240 223 215);
	--md-sys-color-inverse-on-surface: rgb(56 46 41);
	--md-sys-color-inverse-primary: rgb(140 79 39);
	--md-sys-color-primary-fixed: rgb(255 219 200);
	--md-sys-color-on-primary-fixed: rgb(50 18 0);
	--md-sys-color-primary-fixed-dim: rgb(255 182 139);
	--md-sys-color-on-primary-fixed-variant: rgb(111 56 17);
	--md-sys-color-secondary-fixed: rgb(255 219 200);
	--md-sys-color-on-secondary-fixed: rgb(43 22 9);
	--md-sys-color-secondary-fixed-dim: rgb(229 191 170);
	--md-sys-color-on-secondary-fixed-variant: rgb(92 65 49);
	--md-sys-color-tertiary-fixed: rgb(232 229 172);
	--md-sys-color-on-tertiary-fixed: rgb(29 29 0);
	--md-sys-color-tertiary-fixed-dim: rgb(204 201 146);
	--md-sys-color-on-tertiary-fixed-variant: rgb(74 73 30);
	--md-sys-color-surface-dim: rgb(26 18 13);
	--md-sys-color-surface-bright: rgb(65 55 50);
	--md-sys-color-surface-container-lowest: rgb(20 13 8);
	--md-sys-color-surface-container-low: rgb(34 26 21);
	--md-sys-color-surface-container: rgb(39 30 25);
	--md-sys-color-surface-container-high: rgb(49 40 35);
	--md-sys-color-surface-container-highest: rgb(61 51 45);
}

[data-theme="light"] .theme-Ingeniería-Eléctrica {
	--md-sys-color-primary: rgb(111 93 14);
	--md-sys-color-surface-tint: rgb(111 93 14);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(251 225 135);
	--md-sys-color-on-primary-container: rgb(85 70 0);
	--md-sys-color-secondary: rgb(103 94 64);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(239 226 188);
	--md-sys-color-on-secondary-container: rgb(78 70 42);
	--md-sys-color-tertiary: rgb(68 102 77);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(198 236 204);
	--md-sys-color-on-tertiary-container: rgb(45 78 55);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(255 248 239);
	--md-sys-color-on-background: rgb(30 27 19);
	--md-sys-color-surface: rgb(255 248 239);
	--md-sys-color-on-surface: rgb(30 27 19);
	--md-sys-color-surface-variant: rgb(234 226 207);
	--md-sys-color-on-surface-variant: rgb(75 70 57);
	--md-sys-color-outline: rgb(125 119 103);
	--md-sys-color-outline-variant: rgb(206 198 180);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(51 48 39);
	--md-sys-color-inverse-on-surface: rgb(247 240 226);
	--md-sys-color-inverse-primary: rgb(222 197 110);
	--md-sys-color-primary-fixed: rgb(251 225 135);
	--md-sys-color-on-primary-fixed: rgb(34 27 0);
	--md-sys-color-primary-fixed-dim: rgb(222 197 110);
	--md-sys-color-on-primary-fixed-variant: rgb(85 70 0);
	--md-sys-color-secondary-fixed: rgb(239 226 188);
	--md-sys-color-on-secondary-fixed: rgb(33 27 4);
	--md-sys-color-secondary-fixed-dim: rgb(210 198 161);
	--md-sys-color-on-secondary-fixed-variant: rgb(78 70 42);
	--md-sys-color-tertiary-fixed: rgb(198 236 204);
	--md-sys-color-on-tertiary-fixed: rgb(0 33 14);
	--md-sys-color-tertiary-fixed-dim: rgb(170 208 177);
	--md-sys-color-on-tertiary-fixed-variant: rgb(45 78 55);
	--md-sys-color-surface-dim: rgb(224 217 204);
	--md-sys-color-surface-bright: rgb(255 248 239);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(250 243 229);
	--md-sys-color-surface-container: rgb(244 237 223);
	--md-sys-color-surface-container-high: rgb(239 231 218);
	--md-sys-color-surface-container-highest: rgb(233 226 212);
}
[data-theme="dark"] .theme-Ingeniería-Eléctrica {
	--md-sys-color-primary: rgb(222 197 110);
	--md-sys-color-surface-tint: rgb(222 197 110);
	--md-sys-color-on-primary: rgb(59 47 0);
	--md-sys-color-primary-container: rgb(85 70 0);
	--md-sys-color-on-primary-container: rgb(251 225 135);
	--md-sys-color-secondary: rgb(210 198 161);
	--md-sys-color-on-secondary: rgb(55 48 22);
	--md-sys-color-secondary-container: rgb(78 70 42);
	--md-sys-color-on-secondary-container: rgb(239 226 188);
	--md-sys-color-tertiary: rgb(170 208 177);
	--md-sys-color-on-tertiary: rgb(22 55 34);
	--md-sys-color-tertiary-container: rgb(45 78 55);
	--md-sys-color-on-tertiary-container: rgb(198 236 204);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(22 19 11);
	--md-sys-color-on-background: rgb(233 226 212);
	--md-sys-color-surface: rgb(22 19 11);
	--md-sys-color-on-surface: rgb(233 226 212);
	--md-sys-color-surface-variant: rgb(75 70 57);
	--md-sys-color-on-surface-variant: rgb(206 198 180);
	--md-sys-color-outline: rgb(151 144 128);
	--md-sys-color-outline-variant: rgb(75 70 57);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(233 226 212);
	--md-sys-color-inverse-on-surface: rgb(51 48 39);
	--md-sys-color-inverse-primary: rgb(111 93 14);
	--md-sys-color-primary-fixed: rgb(251 225 135);
	--md-sys-color-on-primary-fixed: rgb(34 27 0);
	--md-sys-color-primary-fixed-dim: rgb(222 197 110);
	--md-sys-color-on-primary-fixed-variant: rgb(85 70 0);
	--md-sys-color-secondary-fixed: rgb(239 226 188);
	--md-sys-color-on-secondary-fixed: rgb(33 27 4);
	--md-sys-color-secondary-fixed-dim: rgb(210 198 161);
	--md-sys-color-on-secondary-fixed-variant: rgb(78 70 42);
	--md-sys-color-tertiary-fixed: rgb(198 236 204);
	--md-sys-color-on-tertiary-fixed: rgb(0 33 14);
	--md-sys-color-tertiary-fixed-dim: rgb(170 208 177);
	--md-sys-color-on-tertiary-fixed-variant: rgb(45 78 55);
	--md-sys-color-surface-dim: rgb(22 19 11);
	--md-sys-color-surface-bright: rgb(60 57 47);
	--md-sys-color-surface-container-lowest: rgb(16 14 7);
	--md-sys-color-surface-container-low: rgb(30 27 19);
	--md-sys-color-surface-container: rgb(34 31 23);
	--md-sys-color-surface-container-high: rgb(45 42 33);
	--md-sys-color-surface-container-highest: rgb(56 53 43);
}

[data-theme="light"] .theme-Ingeniería-en-Electrónica {
	--md-sys-color-primary: rgb(24 107 82);
	--md-sys-color-surface-tint: rgb(24 107 82);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(165 242 211);
	--md-sys-color-on-primary-container: rgb(0 81 61);
	--md-sys-color-secondary: rgb(76 99 89);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(206 233 219);
	--md-sys-color-on-secondary-container: rgb(53 76 66);
	--md-sys-color-tertiary: rgb(63 99 117);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(194 232 253);
	--md-sys-color-on-tertiary-container: rgb(38 75 92);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(245 251 246);
	--md-sys-color-on-background: rgb(23 29 26);
	--md-sys-color-surface: rgb(245 251 246);
	--md-sys-color-on-surface: rgb(23 29 26);
	--md-sys-color-surface-variant: rgb(219 229 222);
	--md-sys-color-on-surface-variant: rgb(64 73 68);
	--md-sys-color-outline: rgb(112 121 116);
	--md-sys-color-outline-variant: rgb(191 201 195);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(44 50 47);
	--md-sys-color-inverse-on-surface: rgb(236 242 237);
	--md-sys-color-inverse-primary: rgb(138 214 184);
	--md-sys-color-primary-fixed: rgb(165 242 211);
	--md-sys-color-on-primary-fixed: rgb(0 33 23);
	--md-sys-color-primary-fixed-dim: rgb(138 214 184);
	--md-sys-color-on-primary-fixed-variant: rgb(0 81 61);
	--md-sys-color-secondary-fixed: rgb(206 233 219);
	--md-sys-color-on-secondary-fixed: rgb(8 32 24);
	--md-sys-color-secondary-fixed-dim: rgb(179 204 192);
	--md-sys-color-on-secondary-fixed-variant: rgb(53 76 66);
	--md-sys-color-tertiary-fixed: rgb(194 232 253);
	--md-sys-color-on-tertiary-fixed: rgb(0 30 43);
	--md-sys-color-tertiary-fixed-dim: rgb(167 204 225);
	--md-sys-color-on-tertiary-fixed-variant: rgb(38 75 92);
	--md-sys-color-surface-dim: rgb(213 219 215);
	--md-sys-color-surface-bright: rgb(245 251 246);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(239 245 240);
	--md-sys-color-surface-container: rgb(233 239 234);
	--md-sys-color-surface-container-high: rgb(228 234 229);
	--md-sys-color-surface-container-highest: rgb(222 228 223);
}

[data-theme="dark"] .theme-Ingeniería-en-Electrónica {
	--md-sys-color-primary: rgb(138 214 184);
	--md-sys-color-surface-tint: rgb(138 214 184);
	--md-sys-color-on-primary: rgb(0 56 41);
	--md-sys-color-primary-container: rgb(0 81 61);
	--md-sys-color-on-primary-container: rgb(165 242 211);
	--md-sys-color-secondary: rgb(179 204 192);
	--md-sys-color-on-secondary: rgb(30 53 44);
	--md-sys-color-secondary-container: rgb(53 76 66);
	--md-sys-color-on-secondary-container: rgb(206 233 219);
	--md-sys-color-tertiary: rgb(167 204 225);
	--md-sys-color-on-tertiary: rgb(10 52 69);
	--md-sys-color-tertiary-container: rgb(38 75 92);
	--md-sys-color-on-tertiary-container: rgb(194 232 253);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(15 21 18);
	--md-sys-color-on-background: rgb(222 228 223);
	--md-sys-color-surface: rgb(15 21 18);
	--md-sys-color-on-surface: rgb(222 228 223);
	--md-sys-color-surface-variant: rgb(64 73 68);
	--md-sys-color-on-surface-variant: rgb(191 201 195);
	--md-sys-color-outline: rgb(137 147 141);
	--md-sys-color-outline-variant: rgb(64 73 68);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(222 228 223);
	--md-sys-color-inverse-on-surface: rgb(44 50 47);
	--md-sys-color-inverse-primary: rgb(24 107 82);
	--md-sys-color-primary-fixed: rgb(165 242 211);
	--md-sys-color-on-primary-fixed: rgb(0 33 23);
	--md-sys-color-primary-fixed-dim: rgb(138 214 184);
	--md-sys-color-on-primary-fixed-variant: rgb(0 81 61);
	--md-sys-color-secondary-fixed: rgb(206 233 219);
	--md-sys-color-on-secondary-fixed: rgb(8 32 24);
	--md-sys-color-secondary-fixed-dim: rgb(179 204 192);
	--md-sys-color-on-secondary-fixed-variant: rgb(53 76 66);
	--md-sys-color-tertiary-fixed: rgb(194 232 253);
	--md-sys-color-on-tertiary-fixed: rgb(0 30 43);
	--md-sys-color-tertiary-fixed-dim: rgb(167 204 225);
	--md-sys-color-on-tertiary-fixed-variant: rgb(38 75 92);
	--md-sys-color-surface-dim: rgb(15 21 18);
	--md-sys-color-surface-bright: rgb(52 59 55);
	--md-sys-color-surface-container-lowest: rgb(10 15 13);
	--md-sys-color-surface-container-low: rgb(23 29 26);
	--md-sys-color-surface-container: rgb(27 33 30);
	--md-sys-color-surface-container-high: rgb(37 43 40);
	--md-sys-color-surface-container-highest: rgb(48 54 51);
}

[data-theme="light"] .theme-Licenciatura-en-Ciencias-Biológicas {
	--md-sys-color-primary: rgb(62 104 55);
	--md-sys-color-surface-tint: rgb(62 104 55);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(191 240 177);
	--md-sys-color-on-primary-container: rgb(39 80 34);
	--md-sys-color-secondary: rgb(83 99 78);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(214 232 205);
	--md-sys-color-on-secondary-container: rgb(60 75 55);
	--md-sys-color-tertiary: rgb(56 101 105);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(188 235 239);
	--md-sys-color-on-tertiary-container: rgb(30 77 81);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(248 251 241);
	--md-sys-color-on-background: rgb(25 29 23);
	--md-sys-color-surface: rgb(248 251 241);
	--md-sys-color-on-surface: rgb(25 29 23);
	--md-sys-color-surface-variant: rgb(223 228 216);
	--md-sys-color-on-surface-variant: rgb(66 73 63);
	--md-sys-color-outline: rgb(115 121 110);
	--md-sys-color-outline-variant: rgb(194 200 188);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(46 50 43);
	--md-sys-color-inverse-on-surface: rgb(239 242 232);
	--md-sys-color-inverse-primary: rgb(163 211 151);
	--md-sys-color-primary-fixed: rgb(191 240 177);
	--md-sys-color-on-primary-fixed: rgb(0 34 1);
	--md-sys-color-primary-fixed-dim: rgb(163 211 151);
	--md-sys-color-on-primary-fixed-variant: rgb(39 80 34);
	--md-sys-color-secondary-fixed: rgb(214 232 205);
	--md-sys-color-on-secondary-fixed: rgb(17 31 15);
	--md-sys-color-secondary-fixed-dim: rgb(186 204 178);
	--md-sys-color-on-secondary-fixed-variant: rgb(60 75 55);
	--md-sys-color-tertiary-fixed: rgb(188 235 239);
	--md-sys-color-on-tertiary-fixed: rgb(0 32 34);
	--md-sys-color-tertiary-fixed-dim: rgb(160 207 211);
	--md-sys-color-on-tertiary-fixed-variant: rgb(30 77 81);
	--md-sys-color-surface-dim: rgb(216 219 210);
	--md-sys-color-surface-bright: rgb(248 251 241);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(242 245 235);
	--md-sys-color-surface-container: rgb(236 239 229);
	--md-sys-color-surface-container-high: rgb(230 233 224);
	--md-sys-color-surface-container-highest: rgb(224 228 218);
}

[data-theme="dark"] .theme-Licenciatura-en-Ciencias-Biológicas {
	--md-sys-color-primary: rgb(163 211 151);
	--md-sys-color-surface-tint: rgb(163 211 151);
	--md-sys-color-on-primary: rgb(15 56 13);
	--md-sys-color-primary-container: rgb(39 80 34);
	--md-sys-color-on-primary-container: rgb(191 240 177);
	--md-sys-color-secondary: rgb(186 204 178);
	--md-sys-color-on-secondary: rgb(38 52 34);
	--md-sys-color-secondary-container: rgb(60 75 55);
	--md-sys-color-on-secondary-container: rgb(214 232 205);
	--md-sys-color-tertiary: rgb(160 207 211);
	--md-sys-color-on-tertiary: rgb(0 54 58);
	--md-sys-color-tertiary-container: rgb(30 77 81);
	--md-sys-color-on-tertiary-container: rgb(188 235 239);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(17 20 15);
	--md-sys-color-on-background: rgb(224 228 218);
	--md-sys-color-surface: rgb(17 20 15);
	--md-sys-color-on-surface: rgb(224 228 218);
	--md-sys-color-surface-variant: rgb(66 73 63);
	--md-sys-color-on-surface-variant: rgb(194 200 188);
	--md-sys-color-outline: rgb(140 147 135);
	--md-sys-color-outline-variant: rgb(66 73 63);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(224 228 218);
	--md-sys-color-inverse-on-surface: rgb(46 50 43);
	--md-sys-color-inverse-primary: rgb(62 104 55);
	--md-sys-color-primary-fixed: rgb(191 240 177);
	--md-sys-color-on-primary-fixed: rgb(0 34 1);
	--md-sys-color-primary-fixed-dim: rgb(163 211 151);
	--md-sys-color-on-primary-fixed-variant: rgb(39 80 34);
	--md-sys-color-secondary-fixed: rgb(214 232 205);
	--md-sys-color-on-secondary-fixed: rgb(17 31 15);
	--md-sys-color-secondary-fixed-dim: rgb(186 204 178);
	--md-sys-color-on-secondary-fixed-variant: rgb(60 75 55);
	--md-sys-color-tertiary-fixed: rgb(188 235 239);
	--md-sys-color-on-tertiary-fixed: rgb(0 32 34);
	--md-sys-color-tertiary-fixed-dim: rgb(160 207 211);
	--md-sys-color-on-tertiary-fixed-variant: rgb(30 77 81);
	--md-sys-color-surface-dim: rgb(17 20 15);
	--md-sys-color-surface-bright: rgb(54 58 52);
	--md-sys-color-surface-container-lowest: rgb(11 15 10);
	--md-sys-color-surface-container-low: rgb(25 29 23);
	--md-sys-color-surface-container: rgb(29 33 27);
	--md-sys-color-surface-container-high: rgb(39 43 37);
	--md-sys-color-surface-container-highest: rgb(50 54 48);
}

[data-theme="light"] .theme-Licenciatura-en-Ciencias-Físicas {
	--md-sys-color-primary: rgb(27 101 133);
	--md-sys-color-surface-tint: rgb(27 101 133);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(195 232 255);
	--md-sys-color-on-primary-container: rgb(0 76 104);
	--md-sys-color-secondary: rgb(78 97 109);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(209 229 244);
	--md-sys-color-on-secondary-container: rgb(54 73 85);
	--md-sys-color-tertiary: rgb(96 90 125);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(230 222 255);
	--md-sys-color-on-tertiary-container: rgb(72 66 100);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(246 250 254);
	--md-sys-color-on-background: rgb(23 28 31);
	--md-sys-color-surface: rgb(246 250 254);
	--md-sys-color-on-surface: rgb(23 28 31);
	--md-sys-color-surface-variant: rgb(220 227 233);
	--md-sys-color-on-surface-variant: rgb(65 72 77);
	--md-sys-color-outline: rgb(113 120 125);
	--md-sys-color-outline-variant: rgb(192 199 205);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(44 49 52);
	--md-sys-color-inverse-on-surface: rgb(237 241 245);
	--md-sys-color-inverse-primary: rgb(143 207 243);
	--md-sys-color-primary-fixed: rgb(195 232 255);
	--md-sys-color-on-primary-fixed: rgb(0 30 44);
	--md-sys-color-primary-fixed-dim: rgb(143 207 243);
	--md-sys-color-on-primary-fixed-variant: rgb(0 76 104);
	--md-sys-color-secondary-fixed: rgb(209 229 244);
	--md-sys-color-on-secondary-fixed: rgb(9 30 40);
	--md-sys-color-secondary-fixed-dim: rgb(181 201 215);
	--md-sys-color-on-secondary-fixed-variant: rgb(54 73 85);
	--md-sys-color-tertiary-fixed: rgb(230 222 255);
	--md-sys-color-on-tertiary-fixed: rgb(28 23 54);
	--md-sys-color-tertiary-fixed-dim: rgb(202 193 234);
	--md-sys-color-on-tertiary-fixed-variant: rgb(72 66 100);
	--md-sys-color-surface-dim: rgb(214 218 223);
	--md-sys-color-surface-bright: rgb(246 250 254);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(240 244 248);
	--md-sys-color-surface-container: rgb(234 238 242);
	--md-sys-color-surface-container-high: rgb(229 233 237);
	--md-sys-color-surface-container-highest: rgb(223 227 231);
}
[data-theme="dark"] .theme-Licenciatura-en-Ciencias-Físicas {
	--md-sys-color-primary: rgb(143 207 243);
	--md-sys-color-surface-tint: rgb(143 207 243);
	--md-sys-color-on-primary: rgb(0 53 73);
	--md-sys-color-primary-container: rgb(0 76 104);
	--md-sys-color-on-primary-container: rgb(195 232 255);
	--md-sys-color-secondary: rgb(181 201 215);
	--md-sys-color-on-secondary: rgb(32 51 61);
	--md-sys-color-secondary-container: rgb(54 73 85);
	--md-sys-color-on-secondary-container: rgb(209 229 244);
	--md-sys-color-tertiary: rgb(202 193 234);
	--md-sys-color-on-tertiary: rgb(49 44 76);
	--md-sys-color-tertiary-container: rgb(72 66 100);
	--md-sys-color-on-tertiary-container: rgb(230 222 255);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(15 20 23);
	--md-sys-color-on-background: rgb(223 227 231);
	--md-sys-color-surface: rgb(15 20 23);
	--md-sys-color-on-surface: rgb(223 227 231);
	--md-sys-color-surface-variant: rgb(65 72 77);
	--md-sys-color-on-surface-variant: rgb(192 199 205);
	--md-sys-color-outline: rgb(138 146 151);
	--md-sys-color-outline-variant: rgb(65 72 77);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(223 227 231);
	--md-sys-color-inverse-on-surface: rgb(44 49 52);
	--md-sys-color-inverse-primary: rgb(27 101 133);
	--md-sys-color-primary-fixed: rgb(195 232 255);
	--md-sys-color-on-primary-fixed: rgb(0 30 44);
	--md-sys-color-primary-fixed-dim: rgb(143 207 243);
	--md-sys-color-on-primary-fixed-variant: rgb(0 76 104);
	--md-sys-color-secondary-fixed: rgb(209 229 244);
	--md-sys-color-on-secondary-fixed: rgb(9 30 40);
	--md-sys-color-secondary-fixed-dim: rgb(181 201 215);
	--md-sys-color-on-secondary-fixed-variant: rgb(54 73 85);
	--md-sys-color-tertiary-fixed: rgb(230 222 255);
	--md-sys-color-on-tertiary-fixed: rgb(28 23 54);
	--md-sys-color-tertiary-fixed-dim: rgb(202 193 234);
	--md-sys-color-on-tertiary-fixed-variant: rgb(72 66 100);
	--md-sys-color-surface-dim: rgb(15 20 23);
	--md-sys-color-surface-bright: rgb(53 58 61);
	--md-sys-color-surface-container-lowest: rgb(10 15 18);
	--md-sys-color-surface-container-low: rgb(23 28 31);
	--md-sys-color-surface-container: rgb(28 32 35);
	--md-sys-color-surface-container-high: rgb(38 43 46);
	--md-sys-color-surface-container-highest: rgb(49 53 57);
}

@theme {
	/* ---- Colores ---- */
	--color-primary: var(--md-sys-color-primary);
	--color-surface-tint: var(--md-sys-color-surface-tint);
	--color-on-primary: var(--md-sys-color-on-primary);
	--color-primary-container: var(--md-sys-color-primary-container);
	--color-on-primary-container: var(--md-sys-color-on-primary-container);
	--color-secondary: var(--md-sys-color-secondary);
	--color-on-secondary: var(--md-sys-color-on-secondary);
	--color-secondary-container: var(--md-sys-color-secondary-container);
	--color-on-secondary-container: var(--md-sys-color-on-secondary-container);
	--color-tertiary: var(--md-sys-color-tertiary);
	--color-on-tertiary: var(--md-sys-color-on-tertiary);
	--color-tertiary-container: var(--md-sys-color-tertiary-container);
	--color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
	--color-error: var(--md-sys-color-error);
	--color-on-error: var(--md-sys-color-on-error);
	--color-error-container: var(--md-sys-color-error-container);
	--color-on-error-container: var(--md-sys-color-on-error-container);
	--color-background: var(--md-sys-color-background);
	--color-on-background: var(--md-sys-color-on-background);
	--color-surface: var(--md-sys-color-surface);
	--color-on-surface: var(--md-sys-color-on-surface);
	--color-surface-variant: var(--md-sys-color-surface-variant);
	--color-on-surface-variant: var(--md-sys-color-on-surface-variant);
	--color-outline: var(--md-sys-color-outline);
	--color-outline-variant: var(--md-sys-color-outline-variant);
	--color-shadow: var(--md-sys-color-shadow);
	--color-scrim: var(--md-sys-color-scrim);
	--color-inverse-surface: var(--md-sys-color-inverse-surface);
	--color-inverse-on-surface: var(--md-sys-color-inverse-on-surface);
	--color-inverse-primary: var(--md-sys-color-inverse-primary);
	--color-primary-fixed: var(--md-sys-color-primary-fixed);
	--color-on-primary-fixed: var(--md-sys-color-on-primary-fixed);
	--color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim);
	--color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
	--color-secondary-fixed: var(--md-sys-color-secondary-fixed);
	--color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed);
	--color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim);
	--color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant);
	--color-tertiary-fixed: var(--md-sys-color-tertiary-fixed);
	--color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed);
	--color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim);
	--color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant);
	--color-surface-dim: var(--md-sys-color-surface-dim);
	--color-surface-bright: var(--md-sys-color-surface-bright);
	--color-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
	--color-surface-container-low: var(--md-sys-color-surface-container-low);
	--color-surface-container: var(--md-sys-color-surface-container);
	--color-surface-container-high: var(--md-sys-color-surface-container-high);
	--color-surface-container-highest: var(--md-sys-color-surface-container-highest);

	--shadow-1: var(--m3-elevation-1-box-shadow);
	--shadow-2: var(--m3-elevation-2-box-shadow);
	--shadow-3: var(--m3-elevation-3-box-shadow);
	--shadow-4: var(--m3-elevation-4-box-shadow);
	--shadow-5: var(--m3-elevation-5-box-shadow);

	/* ---- Fuentes ---- */
	/* -- FontFamily -- */
	--font-display-large-font-family: Poppins, sans-serif;
	--font-display-medium-font-family: Poppins, sans-serif;
	--font-display-small-font-family: Poppins, sans-serif;

	--font-headline-large-font-family: Poppins, sans-serif;
	--font-headline-medium-font-family: Poppins, sans-serif;
	--font-headline-small-font-family: Poppins, sans-serif;

	--font-title-large-font-family: Poppins, sans-serif;
	--font-title-medium-font-family: Poppins, sans-serif;
	--font-title-small-font-family: Poppins, sans-serif;

	--font-label-large-font-family: Poppins, sans-serif;
	--font-label-medium-font-family: Poppins, sans-serif;
	--font-label-small-font-family: Poppins, sans-serif;

	--font-body-large-font-family: Poppins, sans-serif;
	--font-body-medium-font-family: Poppins, sans-serif;
	--font-body-small-font-family: Poppins, sans-serif;

	/* -- Size --*/
	--text-display-large-font-size: 72px;
	--text-display-medium-font-size: 45px;
	--text-display-small-font-size: 36px;
	--text-display-medium-size: 45px;
	--text-display-small-size: 36px;

	--text-headline-large-font-size: 32px;
	--text-headline-medium-font-size: 28px;
	--text-headline-small-font-size: 24px;
	--text-headline-large-size: 32px;
	--text-headline-medium-size: 28px;
	--text-headline-small-size: 24px;

	--text-title-large-font-size: 22px;
	--text-title-medium-font-size: 16px;
	--text-title-small-font-size: 14px;
	--text-title-large-size: 22px;
	--text-title-medium-size: 16px;
	--text-title-small-size: 14px;

	--text-label-large-font-size: 14px;
	--text-label-medium-font-size: 12px;
	--text-label-small-font-size: 11px;
	--text-label-large-size: 14px;
	--text-label-medium-size: 12px;
	--text-label-small-size: 11px;

	--text-body-large-font-size: 16px;
	--text-body-medium-font-size: 14px;
	--text-body-small-font-size: 12px;
	--text-body-large-size: 16px;
	--text-body-medium-size: 14px;
	--text-body-small-size: 12px;

	/* -- Weight -- */
	--font-weight-display-large-font-weight: 700;
	--font-weight-display-medium-font-weight: 700;
	--font-weight-display-small-font-weight: 700;

	--font-weight-headline-large-font-weight: 500;
	--font-weight-headline-medium-font-weight: 500;
	--font-weight-headline-small-font-weight: 500;

	--font-weight-title-large-font-weight: 500;
	--font-weight-title-medium-font-weight: 500;
	--font-weight-title-small-font-weight: 500;

	--font-weight-label-large-font-weight: 500;
	--font-weight-label-medium-font-weight: 500;
	--font-weight-label-small-font-weight: 500;

	--font-weight-body-large-font-weight: 400;
	--font-weight-body-medium-font-weight: 400;
	--font-weight-body-small-font-weight: 400;

	/* -- LineHeight -- */
	--spacing-display-large-line-height: 64px;
	--spacing-display-medium-line-height: 52px;
	--spacing-display-small-line-height: 44px;

	--spacing-headline-large-line-height: 40px;
	--spacing-headline-medium-line-height: 36px;
	--spacing-headline-small-line-height: 32px;

	--spacing-title-large-line-height: 28px;
	--spacing-title-medium-line-height: 24px;
	--spacing-title-small-line-height: 20px;

	--spacing-label-large-line-height: 20px;
	--spacing-label-medium-line-height: 16px;
	--spacing-label-small-line-height: 16px;

	--spacing-body-large-line-height: 24px;
	--spacing-body-medium-line-height: 20px;
	--spacing-body-small-line-height: 16px;

	/* -- LetterSpacing -- */
	--tracking-display-medium-tracking: ;
	--tracking-headline-large-tracking: ;
	--tracking-headline-small-tracking: ;
	--tracking-title-large-tracking: ;
	--tracking-title-medium-tracking: 0.15px;
	--tracking-title-small-tracking: 0.1px;
	--tracking-label-large-tracking: 0.1px;
	--tracking-label-medium-tracking: 0.5px;
	--tracking-label-small-tracking: 0.5px;
	--tracking-body-large-tracking: 0.5px;
	--tracking-body-medium-tracking: 0.25px;
	--tracking-body-small-tracking: 0.4px;
}

.text-display-large {
	@apply font-display-large-font-family text-display-large-font-size font-display-large-font-weight leading-display-large-line-height;
	letter-spacing: var(--display-large-letter-spacing, -1px);
}
.text-display-medium {
	@apply font-display-medium-font-family text-display-medium-font-size font-display-medium-font-weight leading-display-medium-line-height;
}
.text-display-small {
	@apply font-display-small-font-family text-display-small-font-size font-display-small-font-weight leading-display-small-line-height;
}

.text-headline-large {
	@apply font-headline-large-font-family text-headline-large-font-size font-headline-large-font-weight leading-headline-large-line-height;
}
.text-headline-medium {
	@apply font-headline-medium-font-family text-headline-medium-font-size font-headline-medium-font-weight leading-headline-medium-line-height;
}
.text-headline-small {
	@apply font-headline-small-font-family text-headline-small-font-size font-headline-small-font-weight leading-headline-small-line-height;
}

.text-title-large {
	@apply font-title-large-font-family text-title-large-font-size font-title-large-font-weight leading-title-large-line-height;
}
.text-title-medium {
	@apply font-title-medium-font-family text-title-medium-font-size font-title-medium-font-weight leading-title-medium-line-height;
	letter-spacing: var(--title-medium-letter-spacing, 0.15px);
}
.text-title-small {
	@apply font-title-small-font-family text-title-small-font-size font-title-small-font-weight leading-title-small-line-height;
	letter-spacing: var(--title-small-letter-spacing, 0.1px);
}
.text-label-large {
	@apply font-label-large-font-family text-label-large-font-size font-label-large-font-weight leading-label-large-line-height;
	letter-spacing: var(--label-large-letter-spacing, 0.1px);
}
.text-label-medium {
	@apply font-label-medium-font-family text-label-medium-font-size font-label-medium-font-weight leading-label-medium-line-height;
	letter-spacing: var(--label-medium-letter-spacing, 0.5px);
}
.text-label-small {
	@apply font-label-small-font-family text-label-small-font-size font-label-small-font-weight leading-label-small-line-height;
	letter-spacing: var(--label-small-letter-spacing, 0.5px);
}
.text-body-large {
	@apply font-body-large-font-family text-body-large-font-size font-body-large-font-weight leading-body-large-line-height;
	letter-spacing: var(--body-large-letter-spacing, 0.5px);
}
.text-body-medium {
	@apply font-body-medium-font-family text-body-medium-font-size font-body-medium-font-weight leading-body-medium-line-height;
	letter-spacing: var(--body-medium-letter-spacing, 0.25px);
}
.text-body-small {
	@apply font-body-small-font-family text-body-small-font-size font-body-small-font-weight leading-body-small-line-height;
	letter-spacing: var(--body-small-letter-spacing, 0.4px);
}
