---
import {Icon} from "astro-icon/components"
---

<a
    
	href="/"
	class="bg-primary-container text-on-primary-container rounded-lg p-2.5 flex flex-row gap-2.5 items-center justify-center self-stretch shrink-0 relative overflow-hidden w-min h-min">
	<Icon name="school" size="22" />
	<p class="text-center text-title-small font-black relative flex items-center justify-center">CursaPlan</p>
</a>
