<div
	class="relative flex w-full shrink-0 flex-col items-center justify-center gap-6 self-stretch rounded-3xl bg-gradient-to-r from-[var(--md-sys-color-primary-container)] to-[var(--md-sys-color-secondary-container)] p-8">
	<h1
		class="text-display-small md:text-display-medium lg:text-display-large relative flex items-center justify-center bg-gradient-to-r from-[var(--md-sys-color-primary)] to-[var(--md-sys-color-secondary)] bg-clip-text text-center text-transparent">
		CursaPlan - Plan de estudios de FaCENA
	</h1>
	<p
		class="text-title-small md:text-body-medium lg:text-headline-small relative flex items-center justify-center self-stretch text-center text-[var(--md-sys-color-primary)]">
		Entrá para conocer cada materia, sus correlativas y requisitos, además
		del plan de estudios, las próximas mesas de examen y toda la información
		que necesitás para avanzar en tu carrera universitaria.
	</p>
</div>
