---

---

<div
	class="rounded-3xl w-full bg-gradient-to-r from-primary-container to-secondary-container p-8 flex flex-col gap-6 items-center justify-center self-stretch shrink-0 relative"
	>
		<h1
			class="text-center text-display-small text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary relative flex items-center justify-center md:text-display-medium lg:text-display-large"
		>
			CursaPlan - Plan de estudios de FaCENA
		</h1>
		<p
			class="text-primary text-center text-title-small relative self-stretch flex items-center justify-center md:text-body-medium lg:text-headline-small">
			Entrá para conocer cada materia, sus correlativas y requisitos, además del plan de estudios, las próximas mesas de examen y toda la información que necesitás para avanzar en tu carrera universitaria.
		</p>
</div>
