---
import LogoPagina from "@components/LogoPagina.astro";

---

<header
	class="bg-background outline outline-outline outline-1 shadow-1 rounded-3xl p-4 flex flex-row items-center justify-between self-stretch shrink-0 relative overflow-hidden">
	<!-- Logo -->
	<LogoPagina />
	<!-- Menu -->
	<nav class="flex flex-row gap-2 items-center justify-center shrink-0 relative">
		<md-filled-button>Carreras</md-filled-button>
	</nav>
</header>